[tools]
node = "22"
go = "1.25"
"go:github.com/golang-migrate/migrate/v4/cmd/migrate" = {version = "latest", tags="postgres"}

[tasks.build-server]
description = "Build the server binary"
sources = ["server/**/*.go", "server/templates/*.html", "server/static/*.css"]
outputs = ["server/apparatus-server"]
run = '''
cd server
go build
'''

[tasks.run-server]
depends = ["build-server"]
description = "Run the server"
dir = "{{ config_root }}/server"
run = "./apparatus-server -db sqlite:///{{ config_root}}/apparatus.db -artifact-store-uri file://{{config_root}}/artifacts"

[tasks.go-tests]
depends = ["build-server"]
dir = "{{ config_root }}/server"
run = "POSTGRES_TEST_DB=$(../scripts/construct_test_pg_connection_string.sh) go test"

[tasks.playwright-tests]
description = "Run Playwright frontend tests"
depends = ["build-server"]
sources = ["tests/playwright/**/*.js"]
run = "npm test"

[tasks.test]
depends = ["build-server", "go-tests", "playwright-tests"]
sources = ["tests/**/run_tests.sh", "tests/**/*.py"]
run = "tests/run_tests.sh"

[tasks.build-server-static-binary]
description = "Build the server binary"
sources = ["server/**/*.go", "server/templates/*.html", "server/static/*.css"]
outputs = ["dist/apparatus"]
run = '''
cd server
go build -o ../dist/apparatus -tags embed_templates
'''

