[tools]
node = "22"
go = "1.25"

[tasks.run-server]
depends = ["build-server"]
description = "Run the server"
dir = "{{ config_root }}/server"
run = "./apparatus-server -db sqlite:///{{ config_root}}/apparatus.db -artifact-store-uri file://{{config_root}}/artifacts"

[tasks.build-server]
description = "Build the server binary"
run = "cd server && go build"
sources = ["server/**/*.go", "server/templates/*.html", "server/static/*.css"]
outputs = ["server/apparatus-server"]

[tasks.go-tests]
depends = ["build-server"]
dir = "{{ config_root }}/server"
run = "POSTGRES_TEST_DB=$(../scripts/construct_test_pg_connection_string.sh) go test"

[tasks.playwright-tests]
description = "Run Playwright frontend tests"
depends = ["build-server"]
sources = ["tests/playwright/**/*.js"]
run = "npm test"

[tasks.test]
depends = ["build-server", "go-tests", "playwright-tests"]
sources = ["tests/**/run_tests.sh", "tests/**/*.py"]
run = "tests/run_tests.sh"
