[tasks.run-server]
depends = ["build-server"]
description = "Run the server"
run = "server/apparatus-server"

[tasks.build-server]
description = "Build the server binary"
run = "cd server && go build"
sources = ["server/**/*.go"]
outputs = ["server/apparatus-server"]

[tasks.test]
depends = ["build-server"]
sources = ["tests/**/run_tests.sh", "tests/**/*.py"]
run = "tests/run_tests.sh"
