[tasks.run-server]
depends = ["build-server"]
description = "Run the server"
dir = "{{ config_root }}/server"
run = "./apparatus-server -db sqlite:///{{ config_root}}/apparatus.db -artifact-store-uri file://{{config_root}}/artifacts"

[tasks.build-server]
description = "Build the server binary"
run = "cd server && go build"
sources = ["server/**/*.go", "server/templates/*.html", "server/static/*.css"]
outputs = ["server/apparatus-server"]

[tasks.test]
depends = ["build-server"]
sources = ["tests/**/run_tests.sh", "tests/**/*.py"]
run = "tests/run_tests.sh"
