{{template "header.html" .}}
	<p>Experiment tracking without the AI cruft.</p>
	<h2>Experiments</h2>
	<table border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Runs</th>
				<th>Most Recent Run</th>
			</tr>
		</thead>
		<tbody>
		{{range .Experiments}}
			<tr>
				<td><a href="/experiments/{{.UUID}}">{{.Name}}</a></td>
				<td>{{.RunCount}}</td>
				<td>{{if .MostRecentRunAt}}{{.MostRecentRunAt}}{{else}}-{{end}}</td>
			</tr>
		{{end}}
		</tbody>
	</table>
</body>
</html>
