{{define "tree"}}
<ul>
    {{range $key, $node := .Children}}
    <li>
    {{if .ArtifactURI}}
        <button 
            id="hash-{{hash .ArtifactPath}}"
            hx-get="/runs/{{.RunUUID}}/artifacts"
            hx-vals='{"current_artifact_path": "{{.ArtifactPath}}"}'
            hx-target="#tab-content"
            onclick="selectPlot('hash-{{hash .ArtifactPath}}')"
            >
        {{$key}}
        </button>
    {{else}}
        {{$key}}
        {{template "tree" $node}}
    {{end}}
    </li>
    {{end}}
</ul>
{{end}}

<!-- Tab Navigation -->
<div id="artifacts-tab-view">
    <div style="display: flex; gap: 2rem; align-items: flex-start; max-width: 100%;">
        <div style="flex: 0 0 30%; min-width: 0;">
            <div>
                <h2>Artifacts</h2>
                <div class="artifact-tree">
                    {{template "tree" .ArtifactsTree}}
                </div>
            </div>
        </div>
        <div style="flex: 0 0 70%; min-width: 0; padding-right: 2rem;">
            {{if .CurrentArtifact}}
            <div id="artifact-display">
                {{if eq .CurrentArtifact.Type "image"}}
                <img src="/artifacts/blob?uri={{.CurrentArtifact.URI}}">
                {{else}}
                <span>{{.CurrentArtifact.URI}}</span>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</div>

