{{define "tree"}}
<ul>
    {{range $key, $node := .Children}}
    <li>
    {{if .ArtifactURI}}
        <button 
            hx-get="/artifacts?run_uuid={{.RunUUID}}&path={{.ArtifactPath}}" 
            hx-vals='{"artifact_uri": "{{.ArtifactURI}}"}'
            hx-target="#artifact-display"
            >
        {{$key}}
        </button>
    {{else}}
        {{$key}}
        {{template "tree" $node}}
    {{end}}
    </li>
    {{end}}
</ul>
{{end}}

<!-- Tab Navigation -->
<div style="margin-bottom: 1rem; border-bottom: 2px solid #ddd;">
        <button
                hx-get="/runs/{{.UUID}}/overview"
                hx-target="#tab-content"
                role="tab">
                Overview
        </button>
        <button
                hx-get="/runs/{{.UUID}}/artifacts"
                hx-target="#tab-content"
                role="tab"
                class="selected">
                Artifacts
        </button>
</div>

<div style="display: flex; gap: 2rem; align-items: flex-start; max-width: 100%;">
    <div style="flex: 0 0 30%; min-width: 0;">
        <div>
            <h2>Artifacts</h2>
            {{template "tree" .ArtifactsTree}}
        </div>
    </div>
    <div style="flex: 0 0 70%; min-width: 0; padding-right: 2rem;">
        <div id="artifact-display">
        </div>
    </div>
</div>
